ul {
	padding-left: 12px;
	margin: 0
}

li {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-grow: 0;
	align-items: center;
}

.git-tree {
	display: block;
	overflow: scroll;
	height: 100%;
	font-size: smaller;
}

.item-label {
	display: flex;
	padding: 3px 5px 3px 0;
	border-radius: 4px;
	cursor: pointer;
}

.item-label:hover {
	background: lavender;
}

.git-tree-item-icon {
	width: 24px;
	text-align: center;
	display: block;
	flex-shrink: 0;
	flex-grow: 0;
}

.git-tree-collapse-icon {
	width: 12px;
	text-align: center;
	display: block;
	flex-shrink: 0;
	flex-grow: 0;
}
