ul {
	padding-left: 12px;
}

li {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-grow: 0;
}

.git-tree {
	display: block;
	overflow: scroll;
	height: 100%;
}

.item-label {
	display: flex;
	padding-right: 5px;
	border-radius: 4px;
	cursor: pointer;
}

.item-label:hover {
	background: lavender;
}

.git-tree-item-icon {
	width: 24px;
	height: 24px;
	text-align: center;
	display: block;
	flex-shrink: 0;
	flex-grow: 0;
}

.git-tree-collapse-icon {
	width: 12px;
	height: 24px;
	text-align: center;
	display: block;
	flex-shrink: 0;
	flex-grow: 0;
}
