.popover {
	position: fixed;
	overflow: scroll;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 6px;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
	z-index: 2;
}

.popover-layer {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: transparent;
	z-index: 1;
}
