.repo-list {
	margin: 0;
	padding: 0;
}

.repo-item {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}

.repo-item:hover {
	background: whitesmoke;
}

.repo-desc {
	padding: 5px 10px;
}
